**/stress.py
**/compiler.py
**/generator.py
algorithmic-toolbox/week1_programming_challenges/2_maximum_pairwise_product/_
algorithmic-toolbox/week1_programming_challenges/2_maximum_pairwise_product/solutions
**/.idea
**/__pycache__
**/*.in
**/*.out
**/model
**/solution
**/*.pdf
**/*.png
**/*.rb
**/*.scala
**/*.rs
**/*.kt
**/*.js
**/*.hs
**/*.cs
**/.tess
**/build/*
**/cmake-build-debug/*
**/*.b
